<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jan.flc.firstlinecode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.AtyChapterActivity"
            android:label="探究活动" />
        <activity android:name=".activity.DialogActivity">
            <intent-filter>
                <action android:name="com.jan.flc.firstlinecode.INTENT_ACTION" />

                <category android:name="com.jan.flc.firstlinecode.INTENT_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UIActivity"
            android:label="UI开发" />
        <activity
            android:name=".activity.BaseUIActivity"
            android:label="常用控件" />
        <activity
            android:name=".activity.PercentLayoutActivity"
            android:label="百分比布局" />
        <activity
            android:name=".activity.ListViewActivity"
            android:label="ListView" />
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="RecyclerView" />
        <activity
            android:name=".activity.ChatActivity"
            android:label="聊天界面" />
        <activity android:name=".activity.FragmentTestActivity" />
        <activity android:name=".activity.FragmentContentActivity" />
        <activity
            android:name=".activity.ReceiverActivity"
            android:label="@string/title_activity_receiver"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>